/*
  Main Street
  CS146 19F Final Project
  Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong
*/
   div{background-color: #CCCCFF; font-size: 18 pt; width: 300px; margin: 20px; }
   ul{list-style-type: none; margin: 0; padding: 0; overflow: hidden; }
   li{display: block; padding: 8px; background-color: #dddddd; }
