/*
  Main Street
  CS146 19F Final Project
  Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong
*/

/*
  #006ba6
  #0496ff
  #17bebb
  #d4f4dd
  #d62246
*/

body{
  background-color: #006ba6;
}

header{
  background-color: #565554;
  text-align: center;
  font-weight: bold;
  padding: 20px 0px;
}

header h1{
  color: #d4f4dd;
}

div h2, h3{
  text-align: center;
  color: #d4f4dd;
}

div h2{
  padding-top: 5px;
  font-weight: bolder;
}
a{
  color: #d4f4dd;
}

a:hover{
  color: #d62246;
}

footer{
  position: absolute;
  bottom: 0;
  color: #d4f4dd;
}

.userform{
  background-color: #0496ff;
  margin: 0px 25%;
}
.wrapper{
  list-style-type: none;
  padding: 2px;
  border-radius: 3px;
}
.form-row{
  display: flex;
  justify-content: center;
  padding: .5px;
}

.form-row label{
  flex: .05;
  justify-content: flex-start;
  padding-right: 10px;
}

.form-row input{
  flex: .25;
}
