<!DOCTYPE html>
<html lang="en">
 <head>
   <!-- Main Street -->
   <!-- CS146 19F Final Project -->
   <!-- Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong -->
   <meta charset="UTF-8">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../static/bootlegBootstrap.css">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>🤡 Main Street</title>
 </head>
 <body>
  <header>
    <a href="/"><h1>Main Street</h1></a>
    <a class="navlink" id="profile" href="/profile">Profile</a>
    <a class="navlink" href="/logout">Logout</a>
    <input type="hidden" id="username" value="{{username}}">
  </header>
  <main class="suggestion-page">
    <h2>Suggested Friends</h2>
    <ul id="friends" class="cards">

    </ul>
  </main>
  <footer>
     <p>&copy; Main Street </p>
     <p>Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong</p>
   </footer>
   <script src="../static/friends.js"></script>
</body>
</html>
