<!DOCTYPE html>
<html>
 <head>
   <!-- Main Street -->
   <!-- CS146 19F Final Project -->
   <!-- Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong -->
   <meta charset="UTF-8">
   <link rel="stylesheet" href="../static/bootlegBootstrap.css">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>🤡 Main Street</title>
 </head>
 <body>
  <header>
    <h1>Main Street</h1>
    <a id="profile" href="profile.html">Profile</a>
    <a href="index.html">Logout</a>
  </header>
  <main class="suggestion-page">
    <h2>Suggested Friends</h2>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <a href="profile.html">
                <li class="hobbies_item">
                  MORE
                </li>
              </a>

            </ul>
            <a href="profile.html">
              <button class="btn btn--block">
                Go to profile
              </button>
            </a>
          </div>
        </div>
      </li>
    </ul>
  </main>
</body>
<footer>
   <p>&copy; Main Street </p>
   <p>Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong</p>
 </footer>
</html>
