<!DOCTYPE html>
<html lang="en">
 <head>
   <!-- Main Street -->
   <!-- CS146 19F Final Project -->
   <!-- Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong -->
   <meta charset="UTF-8">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../static/bootlegBootstrap.css">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <title>🤡 Main Street</title>
 </head>
 <body>
  <header>
    <a href="/"><h1>Main Street</h1></a>
    <a class="navlink" id="profile" href="/profile">Profile</a>
    <a class="navlink" href="/logout">Logout</a>
  </header>
  <main class="suggestion-page">
    <h2>Suggested Friends</h2>
    <ul class="cards">
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
      <li class="cards_item">
        <div class="card">
          <div class="card_content">
            <div class="card_title">
              phill213
            </div>
            <h3>Hobbies</h3>
            <ul class="hobbies">
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Sleep
              </li>
              <li class="hobbies_item">
                Frisbee
              </li>
              <li class="hobbies_item">
                Code
              </li>
              <li class="hobbies_item">
                Grade
              </li>
              <li class="hobbies_item">
                <a href="profile.html">
                  MORE
                </a>
              </li>
            </ul>
              <button class="btn btn--block">
                Go to Profile
              </button>
          </div>
        </div>
      </li>
    </ul>
  </main>
  <footer>
     <p>&copy; Main Street </p>
     <p>Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong</p>
   </footer>
   <script src="../static/profiles.js"></script>
</body>
</html>
