<!DOCTYPE html>
<html>
 <head>
   <!-- Main Street -->
   <!-- CS146 19F Final Project -->
   <!-- Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
   <link rel="stylesheet" href="../static/bootlegBootstrap.css">
   <title>🤡 Main Street</title>
 </head>
 <body>
  <!-- For now, this should be a default profile.
  Once we get JS done, default texts in this template should be replaced by the current user or the person's linked profile.
  Includes the person's username, full name (optional), hobbies (TEXT), email (optional TEXT), socials (optional TEXT), and phone (optional TEXT). -->
  <header>
    <a href="home.html"><h1>Main Street</h1></a>
    <a class="navlink" id="profile" href="profile.html">Profile</a>
    <a class="navlink" href="index.html">Logout</a>
  </header>
  <main class="profile-page">
    <a href="profile.html"><h2>phill213</h2></a>
    <img class="profile-img" src="../static/blank-profile.png" alt="We don't have profile pictures yet!">
    <div class="profile-info">
      <table class="profile-contacts">
          <tr>
            <th>Email</th>
            <td>phill213@stevens.edu</td>
          </tr>
          <tr>
            <th>Phone Number</th>
            <td>800-555-6667</td>
          </tr>
          <tr>
            <th>Instagram</th>
            <td>@phillgraffix</td>
          </tr>
        </thead>
      </table>
      <div>
        <h3>Hobbies</h3>
        <ul class="hobbies_list">
          <li>
            Frisbee
          </li>
          <li>
            Sleep
          </li>
          <li>
            Code
          </li>
        </ul>
      </div>
    </div>
  </main>
</body>
<footer>
  <p>&copy; Main Street &mdash; Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong</p>
</footer>


 </body>
</html>
