<!DOCTYPE html>
<html>
 <head>
   <!-- Main Street -->
   <!-- CS146 19F Final Project -->
   <!-- Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="../static/bootlegBootstrap.css">
   <title>🤡 Main Street</title>
 </head>
 <body>
  For now, this should be a default profile.
  Once we get JS done, default texts in this template should be replaced by the current user or the person's linked profile.
  Includes the person's username, full name (optional), hobbies (TEXT), email (optional TEXT), socials (optional TEXT), and phone (optional TEXT).


  <h1>Main Street</h1>

  <h3 id = "username">kbarry</h3>
  <h3 id = "fullName">Kyla Barry</h3>

  <h4 id = "hobbies">Hobbies</h4>
  <li>
    <ul>movies</ul>
    <ul>tv</ul>
  </li>


  <h4 id = "email">Email</h4>

  <h4 id = "socials">Socials</h4>
  <li>
    <ul>instagram</ul>
    <ul>Facebook</ul>
  </li>

  <h4 id = "number">Phone</h4>
 </body>
</html>
