<!DOCTYPE html>
<html>
 <head>
   <!-- Main Street -->
   <!-- CS146 19F Final Project -->
   <!-- Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong -->
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
   <link rel="stylesheet" href="../static/bootlegBootstrap.css">
   <link rel="stylesheet" href="../static/form.css">
   <title>🤡 Main Street</title>
 </head>
 <body>
   <header>
     <h1>Main Street</h1>
   </header>
  <div class="form">
    <h3>Register</h3>
    <form class="register-form" action="/auth" method="POST">
      <input type="text" name="username" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <h4>Profile Info</h4>
      <label for="email">Email</label>
      <input id="email" type="email" name="email" placeholder="peanuts@nuts.com">
      <label for="socials">Social Handles</label>
      <input id="socials" type="text" name="socials" placeholder="@bobbybob2">
      <label for="phone">Phone Number</label>
      <input id="phone" type="tel" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}"name="phone" placeholder="800-420-6921">
      <label for="hobbies">Hobbies</label>
      <textarea name="hobbies" placeholder="Running, Frisbee, Sleep, Code, Grade..." required></textarea>
      <button type="submit" name="submit" value="Register">Register</button>
      <a href="index.html">Already have an account?</a>
    </form>
  </div>
 </body>
 <footer>
   <p>&copy; Main Street &mdash; Kyla Barry, Julie (Min Jee) Cheon, Daniel Claro, Johnny Wong</p>
 </footer>
</html>
